include ./score-start.jade

mixin listItemRanking(data, config)
    .list-item-wrap-ranking
        .ranking-order(class="#{config.rank > 3 ? 'ranking-normal' : 'ranking-red'}")
            span.ranking-order-number #{config.rank}
        .mw-row
            .mw-col-23
                a.list-cover-wrap(href="/movie/detail/#{data._id}")
                    .img-cover-wrap
                        img.img-cover(src="#{data.images.large}", onerror="imgError(this)", ondragstart="return false;")
            .mw-col-37
                .list-info-wrap
                    a(href="/movie/detail/#{data._id}").info-name.text-ellipsis #{data.title}
                    p.info-misc 原名：#{data.original_title}
                    p.info-misc 年代：#{data.year}
                    p.info-misc 地区：美国
                    p.info-type 类型：#{data.genres.join(' / ')}
                    p.info-actor 导演： #{data.directors.map(function(item) {return item.name}).join(' / ')}
                    p.info-actor 主演： #{data.casts.map(function(item) {return item.name}).join(' / ')}
                    .info-score
                        +scoreStart(data.rating.average, {showText: true})
                        span.info-score-amount (#{data.collect_count}人评价)
