extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/detail/detail.min.css")

block content
	.page-detail
		.mw-container
			.mw-row.video-infomation
				.mw-col-44
					.panel-left
						.video-player-wrap
							.video-player-box
								- var videoUrl = movie.trailer_urls.length ? movie.trailer_urls[0] : 'http://flatfull.com/themes/assets/video/big_buck_bunny_trailer.webm'
								- var  videoPoster = movie.trailers.length ? movie.trailers[0].medium : ''
								video.video-player(id="videoPlayer", poster="#{videoPoster}", type="video/webm", preload="metadata", src="#{videoUrl}") Your browser does not support the video tag.
								.video-mask
									i.iconfont.icon-play-circle
							.video-player-control.position-absolute
								.control-wrap
									.control-play
										i.iconfont.icon-play
										i.iconfont.icon-pause
									.control-progress
										.progress-bar
											.progress-item
											.progress-text
									.control-current-time 00:00
									.control-duration 00:00
									.control-sound
										i.iconfont.icon-sound
										i.iconfont.icon-mute
									.control-volume
										.progress-bar
											.progress-item
									.control-screen
										i.iconfont.icon-full-screen
										i.iconfont.icon-exit-full-screen

						.video-brief
							h2.brief-title #{movie.title} #{movie.original_title}
								span.brief-year (#{movie.year})
							p.brief-introduce #{movie.summary}
						.comment-wrap
							ul.comment-list
								each review in movie.popular_reviews
									li.list-item
										img.comment-avatar(src="#{review.author.avatar}")
										.content-wrap
											p.coment-name #{review.title}
											.comment-content
												span.content-short #{review.summary}
												.content-full
												a.more-summary(herf="javascript:;",data-id="#{review.id}") (展开)
							.comment-form
								.input-textarea
									textarea(type="textarea", rows="4", cols="20", placeholder="我来说两句")
								.form-submit-wrap.text-right
									button.btn.btn-primary 发表评论

				.mw-col-16
					.panel-right
						.video-posters
							img.img-cover(src="#{movie.images.large}", onerror="imgError(this)", ondragstart="return false;")
						dl
							dt 评分
								dd.info-score
									+scoreStart(movie.rating.average, {showText: true})
							dt 导演
								dd #{movie.directors.map(function(item) {return item.name}).join(' / ')}
							dt 主演
								dd #{movie.casts.map(function(item) {return item.name}).join(' / ')}
							dt 类型
								dd #{movie.genres.join(' / ')}
							dt 地区
								dd #{movie.countries.join(' / ')}
							dt 语言
								dd #{movie.languages.join(' / ')}
							dt 片长
								dd #{movie.durations.join(' / ')}
							dt 上映日期
								dd #{movie.pubdate || '暂无数据'}




block afterContent
	script(src="/javascripts/detail/detail.min.js")