extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/detail/detail.min.css")

block content
	.page-detail
		.mw-container
			.mw-row.video-infomation
				.mw-col-44
					.panel-left
						.video-player-wrap
							.video-player-box
								video.video-player(id="vedioPlayer",controls, autoplay, type="video/webm", preload="metadata", src="http://flatfull.com/themes/assets/video/big_buck_bunny_trailer.webm") Your browser does not support the video tag.
							.video-player-control
								.iconfont.icon-

						.video-brief
							h2.brief-title #{movie.name}
							p.brief-introduce #{movie.brief}

				.mw-col-16(style="flex: 1")
					.panel-right
						.video-rate
							h1 #{movie.rate}
						dl
							dt.visible-sm.visible-xs 评分
								dd.visible-sm.visible-xs #{movie.rate}
							dt 导演
								dd #{movie.director}
							dt 编剧
								dd #{movie.screenwriter}
							dt 类型
								dd #{movie.type}
							dt 地区
								dd #{movie.region}
							dt 语言
								dd #{movie.language}
							dt 片长
								dd #{movie.filmLength}
							dt 又名
								dd #{movie.alias}
							dt 上映日期
								dd #{movie.releaseTime}

			.comment-wrap
				.comment-form
					.input-textarea
						textarea(type="textarea", rows="4", cols="20", placeholder="我来说两句")
					.form-submit-wrap.text-right
						button.btn.btn-primary 发表评论
				ul.comment-list
					each item in [1,2,3,4,5,6]
						li.list-item
							img.comment-avatar(src="/images/captain.jpeg")
							.content-wrap
								p.coment-name 莫忘初衷
								p.comment-content 回看这个系列，真的从始至终都表达了自己要说的东西，作为暑期大片实为难得。这部终章直指美国是建立在奴隶制的基础上——猿族劳役时竟大放星条旗永不落，真是太讽刺。反派就像纳粹种族清洗者和现代启示录的白兰度的结合，纳粹思维的荒谬和疯狂令人瞠目。瑟金斯真

