extends ../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/ranking.min.css")

block content
	.page-ranking
		.container
			.category-group-wrap
				.row
					.col-xs-12
						.category-group.clearfix
							span.category-nane 类型
							ul.category-list
								each type in ["喜剧", "悲剧", "爱情", "动作", "枪战", "犯罪", "惊悚", "恐怖", "悬疑", "动画", "家庭", "奇幻"]
									li.list-item.active
										a.item-name(href="#") #{type}
			.movie-list-wrap
				.row
					each movie in movies
						.col-sm-6
							.movie-box.clearfix
								a(href="/detail/123").movie-cover
									img(src="/images/captain.jpeg")
								.movie-brief
									a(href="/detail/123").brie-item.brief-name #{movie.name}
									p.brie-item.brief-crew #{movie.actor}
									p.brie-item.brief-misc #{movie.misc}
									p.brie-item.brief-rate #{movie.rate}